In [1]:
#Write once-Use Many

#Define
def add(num1,num2):  #num1,num2 are arguments/parameters
    result=num1+num2
    return result

In [3]:
#Call the function-On demand
output=add(100,200)
print(output)

300

In [4]:
add(786,369)

1155

In [5]:
add(5632,698)

6330

In [6]:
#Types of Arguments
uname=input("Enter your name:")
uage=int(input("Enter you age:"))

def func1(name,age):
    print(f'Hi,{name} you are {age} years old')

Enter your name: Amit
Enter you age: 45

In [9]:
#1.Positional-Required Arguments
func1(uname,uage)
#func1(uname)
func1(uage,uname)  #Change in order

Hi,Amit you are 45 years old
Hi,45 you are Amit years old

In [12]:
#Keywords Args
func1(name=uname,age=uage)
func1(age=uage,name=uname)
#func1(age=uage)

Hi,Amit you are 45 years old
Hi,Amit you are 45 years old

TypeError: func1() missing 1 required positional argument: 'name'

In [14]:
#3.Default Arguments
def func2(name,age=20):  #Default Value
    print(f'Hi,{name} you are {age} years')

func2('Amit')
func2('Tarun',45)

Hi,Amit you are 20 years
Hi,Tarun you are 45 years

In [19]:
#4.Arbitary Arguments(many value agaist single argument)
def func3(*names):
    for name in names:
        print(f"Hi,{name}")

func3('Kapil','Amit','Pooja','Ramesh')

Hi,Kapil
Hi,Amit
Hi,Pooja
Hi,Ramesh

In [17]:
def func4(names):
    for name in names:
        print(f"Hi,{name}")

func4(['Kapil','Amit','Pooja'])

Hi,Kapil
Hi,Amit
Hi,Pooja

In [18]:
def func5(names):
    print(names)

func5(['Kapil','Amit','Pooja'])

['Kapil', 'Amit', 'Pooja']

In [ ]:
#5.Key-Arbitary Argument---->DIY

In [21]:
uname=input("Enter your name:")
uage=int(input("Enter you age:"))

def func5(name,age):
    print(f'Hi,{name} you are {age} years old')

func5(uname,age=uage)

Enter your name: AMit
Enter you age: 60

Hi,AMit you are 60 years old

In [22]:
func5(name=uname,age)   #Wrong !

SyntaxError: positional argument follows keyword argument (2441845577.py, line 1)

In [24]:
#Scope of the Varibles-->Local,Global

var1=100   #Global Scope

def func7():
    var2=200  #Local Scope
    print("Var1:",var1)
    print("Var2:",var2)

func7()
#outside the function
print("Var1:",var1)
print("Var2:",var2)

Var1: 100
Var2: 200
Var1: 100

NameError: name 'var2' is not defined

In [29]:
var1=100   #Global Scope

def func7():
    global var1   #Accessing Global scope variable
    var2=200  #Local Scope
    var1=300
    global var3
    var3=1000
    print("Inside function Var1:",var1)
    print("Var2:",var2)

func7()
#outside the function
print("outside function Var1:",var1)
print(var3)

Inside function Var1: 300
Var2: 200
outside function Var1: 300
1000

In [30]:
#Less Code more work

#Lambda Function/Expression: No name,single line body(small and restricted),default return
#Syntax:   lambda arguments:expression

def add(num1,num2):  #num1,num2 are arguments/parameters
    result=num1+num2
    return result

var=(lambda num1,num2:num1+num2)(452,369)
print(var)

821

In [31]:
var=lambda num1,num2:num1+num2
print(var(452,369))

821

In [ ]:
#Advanced: filter(),map(),Reduce()   Working with sequences

In [32]:
lst=[45,236,98,75,23,64,15,78,96,32,35]

def even_odd(lst):
    even=[]
    odd=[]
    for i in lst:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print(f'Even items:{even},odd items:{odd}')

even_odd(lst)

Even items:[236, 98, 64, 78, 96, 32],odd items:[45, 75, 23, 15, 35]

In [35]:
#Filter(lambda exp,sequences)
even=list(filter(lambda i:i%2==0,lst))
odd=list(filter(lambda i:i%2!=0,lst))
print(f'Even items:{even},odd items:{odd}')

Even items:[236, 98, 64, 78, 96, 32],odd items:[45, 75, 23, 15, 35]

In [38]:
#Map(lambda exp,sequences)
lst=[5,6,9,8,7,3]
cubes=list(map(lambda i:i**3,lst))
print(cubes)

[125, 216, 729, 512, 343, 27]

In [40]:
#Reduce(aggregation)
from functools import reduce
sales=[450,236,178,963,754,741]
total_sales=reduce(lambda x,y:x+y,sales)
print(f"Total Sales:{total_sales},Average Sales:{total_sales/len(sales)}")

Total Sales:3322,Average Sales:553.6666666666666