In [3]:
#Pandas --> data analysis & manipulation tool 
# --> works with structured data 
# ML Machine Learning: Fetch data, prepocess, ETL, clean, manipulate, ... to the ML machine 
# 40% work done in Pandas

# Data Structures Panel Data in Pandas 
# DataFrame --> Table 
# Data Series --> Column

#Raw data --> Data Frame --> (merge, clean ...)--> Processed Data --> ML 

import pandas as pd  

raw_data = {
'Emp_name':['Amit','John','Tina','Amy'],
'Emp_salary':[45000,25345,78905,96789]
}

df_emp = pd.DataFrame(raw_data)
print(df_emp)
print(type(df_emp))

  Emp_name  Emp_salary
0     Amit       45000
1     John       25345
2     Tina       78905
3      Amy       96789
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Import and export data 
# Import file --> DF DataFrame Table Structured Data
# Export DF --> file 
# File types: CSV, Excel, JSON, HTML, URL file 

# import functions: read_csv(), read_excel(), read_json(), read_html, ...
# Export functions: to_csv(), to_excel(), to_json()

In [12]:
# Export Data DF ---> file
!pip install openpyxl xlsxwriter


df_emp.to_csv('example1.csv', index=False)

df_emp.to_excel('example2.xlsx',index=False)

df_emp.to_json('example3.json',index=False)

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting xlsxwriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: xlsxwriter, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5 xlsxwriter-3.2.0

In [ ]:
# df_emp.read_csv('URL')

In [13]:
# import functions: read_csv(), read_excel(), read_json(), read_html, ...
df = pd.read_csv('diabetes.csv')
print(df)

      Pid  Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0    1001            6      148             72             35    250.0  33.6
1    1002            1       85             66             29    300.0  26.6
2    1003            8      183             64              0      NaN  23.3
3    1004            1       89             66             23     94.0  28.1
4    1005            0      137             40             35    168.0  43.1
..    ...          ...      ...            ...            ...      ...   ...
763  1764           10      101             76             48    180.0  32.9
764  1765            2      122             70             27      0.0  36.8
765  1766            5      121             72             23    112.0  26.2
766  1767            1      126             60              0      0.0  30.1
767  1768            1       93             70             31      0.0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 10 columns]

In [14]:
# Headers 
# No headers? 
df = pd.read_csv('diabetes.csv', header=None)
print(df)

        0            1        2              3              4        5     6  \
0     Pid  Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
1    1001            6      148             72             35      250  33.6
2    1002            1       85             66             29      300  26.6
3    1003            8      183             64              0      NaN  23.3
4    1004            1       89             66             23       94  28.1
..    ...          ...      ...            ...            ...      ...   ...
764  1764           10      101             76             48      180  32.9
765  1765            2      122             70             27        0  36.8
766  1766            5      121             72             23      112  26.2
767  1767            1      126             60              0        0  30.1
768  1768            1       93             70             31        0  30.4

                            7    8        9
0    DiabetesPedigreeFunction  Age  Outcome
1                       0.627   50        1
2                       0.351   31        0
3                       0.672   32        1
4                       0.167   21        0
..                        ...  ...      ...
764                     0.171   63        0
765                      0.34   27        0
766                     0.245   30        0
767                     0.349   47        1
768                     0.315   23        0

[769 rows x 10 columns]

In [15]:
df = pd.read_csv('diabetes.csv',index_col=['Pid'])
print(df)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age  Outcome
Pid
1001                     0.627   50        1
1002                     0.351   31        0
1003                     0.672   32        1
1004                     0.167   21        0
1005                     2.288   33        1
...                        ...  ...      ...
1764                     0.171   63        0
1765                     0.340   27        0
1766                     0.245   30        0
1767                     0.349   47        1
1768                     0.315   23        0

[768 rows x 9 columns]

In [20]:
df = pd.read_csv('diabetes.csv',index_col=['Pid','Glucose'])
print(df)

              Pregnancies  BloodPressure  SkinThickness  Insulin   BMI  \
Pid  Glucose
1001 148                6             72             35    250.0  33.6
1002 85                 1             66             29    300.0  26.6
1003 183                8             64              0      NaN  23.3
1004 89                 1             66             23     94.0  28.1
1005 137                0             40             35    168.0  43.1
...                   ...            ...            ...      ...   ...
1764 101               10             76             48    180.0  32.9
1765 122                2             70             27      0.0  36.8
1766 121                5             72             23    112.0  26.2
1767 126                1             60              0      0.0  30.1
1768 93                 1             70             31      0.0  30.4

              DiabetesPedigreeFunction  Age  Outcome
Pid  Glucose
1001 148                         0.627   50        1
1002 85                          0.351   31        0
1003 183                         0.672   32        1
1004 89                          0.167   21        0
1005 137                         2.288   33        1
...                                ...  ...      ...
1764 101                         0.171   63        0
1765 122                         0.340   27        0
1766 121                         0.245   30        0
1767 126                         0.349   47        1
1768 93                          0.315   23        0

[768 rows x 8 columns]

In [ ]:
# Selections: Specific Columns or Rows 
# Label based selection: at[], loc[]
# Index based selection: iloc[] 
# Conditional Selections: df[conditions(s)]


# .loc	Label-based	Access rows and columns by labels	Selecting by labels or conditions
# .iloc	Integer position	Access rows and columns by positions	Selecting by row and column index
# .at	Label-based (scalar)	Fast access to a single value by labels	Single element access or modification

In [27]:
# Selections: Specific Columns or Rows 
# Label based selection: at[], loc[]
df = pd.read_csv('diabetes.csv',index_col=['Pid'])
print(df)
# locate & updation --> .at[]
print("Age of ID:10004", df.at[1004,'Age'])
df.at[1004,'Age']=35
print("Age of ID:10004", df.at[1004,'Age'])

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age  Outcome
Pid
1001                     0.627   50        1
1002                     0.351   31        0
1003                     0.672   32        1
1004                     0.167   21        0
1005                     2.288   33        1
...                        ...  ...      ...
1764                     0.171   63        0
1765                     0.340   27        0
1766                     0.245   30        0
1767                     0.349   47        1
1768                     0.315   23        0

[768 rows x 9 columns]
Age of ID:10004 21
Age of ID:10004 35

In [85]:
# df.loc[row_index range, list of columns]
print(df.loc[1001:1005])

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1

      DiabetesPedigreeFunction  Age    City
Pid
1001                     0.627   55  Mumbai
1002                     0.351   36  Mumbai
1003                     0.672   37  Mumbai
1004                     0.167   40  Mumbai
1005                     2.288   38  Mumbai

In [40]:
# df.loc[row_index range, list of columns]

print(df.loc[  [1001,1005],['Pregnancies','BloodPressure','Age']])

df_new = df.loc[  [1001,1002, 1003, 1004, 1005],['Pregnancies','BloodPressure','Age']]
df_new

      Pregnancies  BloodPressure  Age
Pid
1001            6             72   50
1005            0             40   33

      Pregnancies  BloodPressure  Age
Pid
1001            6             72   50
1002            1             66   31
1003            8             64   32
1004            1             66   35
1005            0             40   33

In [42]:
# Index based .iloc[] 
# can not used custom indices 
# df.iloc[row index, column index]
print(df.iloc[0:5,1:4])

print(df.iloc[[1,5],[1,4]])

      Glucose  BloodPressure  SkinThickness
Pid
1001      148             72             35
1002       85             66             29
1003      183             64              0
1004       89             66             23
1005      137             40             35
      Glucose  Insulin
Pid
1002       85    300.0
1006      116      NaN

In [43]:
# EDA Exploratory Data Analysis (EDA)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 768 entries, 1001 to 1768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   766 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 76.2 KB

In [44]:
#3. Conditional 
df[df['Age']>60]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pid,,,,,,,,,
1116,4,146,92,0,0.0,31.2,0.539,61,1
1124,5,132,80,0,0.0,26.8,0.186,69,0
1130,0,105,84,0,0.0,27.9,0.741,62,1
1149,5,147,78,0,0.0,33.7,0.218,65,0
1222,2,158,90,0,0.0,31.6,0.805,66,1
1224,7,142,60,33,190.0,28.8,0.687,61,0
1264,3,142,80,15,0.0,32.4,0.200,63,0
1295,0,161,50,0,0.0,21.9,0.254,65,0
1362,5,158,70,0,0.0,29.8,0.207,63,0
1363,5,103,108,37,0.0,39.2,0.305,65,0
1364,4,146,78,0,0.0,38.5,0.520,67,1
1454,2,119,0,0,0.0,19.6,0.832,72,0
1457,1,135,54,0,0.0,26.7,0.687,62,0
1460,9,134,74,33,60.0,25.9,0.460,81,0
1480,4,132,86,31,0.0,28.0,0.419,63,0
1490,8,194,80,0,0.0,26.1,0.551,67,0
1496,6,166,74,0,0.0,26.6,0.304,66,0
1510,8,120,78,0,0.0,25.0,0.409,64,0
1538,0,57,60,0,0.0,21.7,0.735,67,0
1553,6,114,88,0,0.0,27.8,0.247,66,0
1580,2,197,70,99,0.0,34.7,0.575,62,1
1583,12,121,78,17,0.0,26.5,0.259,62,0
1667,4,145,82,18,0.0,32.5,0.235,70,1
1675,8,91,82,0,0.0,35.6,0.587,68,0
1685,5,136,82,0,0.0,0.0,0.640,69,0
1760,6,190,92,0,0.0,35.5,0.278,66,1
1764,10,101,76,48,180.0,32.9,0.171,63,0

In [48]:
#3. Conditional and - &   or Â¦
df[(df['Age']>60) & (df['BloodPressure']>90)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pid,,,,,,,,,
1116,4,146,92,0,0.0,31.2,0.539,61,1
1363,5,103,108,37,0.0,39.2,0.305,65,0
1760,6,190,92,0,0.0,35.5,0.278,66,1

In [66]:
# Random Selection 
# Refresh to get each time a different set 
# to get an idea of the data
df.sample(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pid,,,,,,,,,
1464,5,88,78,30,0.0,27.6,0.258,37,0
1246,9,184,85,15,0.0,30.0,1.213,49,1
1156,7,152,88,44,0.0,50.0,0.337,36,1
1761,2,88,58,26,16.0,28.4,0.766,22,0
1237,7,181,84,21,192.0,35.9,0.586,51,1

In [81]:
#Adding and Dropping Columns 
# .iloc 
# Adding a new column 
df.loc[:, ['City']]='Mumbai'
df.loc[:, ['Outcome']]=1
print(df)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age    City  Outcome
Pid
1001                     0.627   50  Mumbai        1
1002                     0.351   31  Mumbai        1
1003                     0.672   32  Mumbai        1
1004                     0.167   35  Mumbai        1
1005                     2.288   33  Mumbai        1
...                        ...  ...     ...      ...
1764                     0.171   63  Mumbai        1
1765                     0.340   27  Mumbai        1
1766                     0.245   30  Mumbai        1
1767                     0.349   47  Mumbai        1
1768                     0.315   23  Mumbai        1

[768 rows x 10 columns]

In [82]:
# Droping/Delete Columns and Rows
# only 1 one function available --> drop function column as well row
df.drop(['Outcome'],axis=1) # axis=1 --> columns  
# Pandas protect the deletion of the original data
# axis=0 --> for rows 
print(df)

# create a new structure
df_updated = df.drop(['Outcome'],axis=1) 
print(df_updated)

# Alter the original structure data frame 
df.drop(['Outcome'],axis=1, inplace=True) 

# Deleting Rows
df.drop([1001],axis=0)   # axis=0 --> for rows 

df.sort_values(by='Age', ascending=False)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age    City  Outcome
Pid
1001                     0.627   50  Mumbai        1
1002                     0.351   31  Mumbai        1
1003                     0.672   32  Mumbai        1
1004                     0.167   35  Mumbai        1
1005                     2.288   33  Mumbai        1
...                        ...  ...     ...      ...
1764                     0.171   63  Mumbai        1
1765                     0.340   27  Mumbai        1
1766                     0.245   30  Mumbai        1
1767                     0.349   47  Mumbai        1
1768                     0.315   23  Mumbai        1

[768 rows x 10 columns]
      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age    City
Pid
1001                     0.627   50  Mumbai
1002                     0.351   31  Mumbai
1003                     0.672   32  Mumbai
1004                     0.167   35  Mumbai
1005                     2.288   33  Mumbai
...                        ...  ...     ...
1764                     0.171   63  Mumbai
1765                     0.340   27  Mumbai
1766                     0.245   30  Mumbai
1767                     0.349   47  Mumbai
1768                     0.315   23  Mumbai

[768 rows x 9 columns]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,City
Pid,,,,,,,,,
1460,9,134,74,33,60.0,25.9,0.460,81,Mumbai
1454,2,119,0,0,0.0,19.6,0.832,72,Mumbai
1667,4,145,82,18,0.0,32.5,0.235,70,Mumbai
1124,5,132,80,0,0.0,26.8,0.186,69,Mumbai
1685,5,136,82,0,0.0,0.0,0.640,69,Mumbai
...,...,...,...,...,...,...,...,...,...
1061,2,84,0,0,0.0,0.0,0.304,21,Mumbai
1241,1,91,64,24,0.0,29.2,0.192,21,Mumbai
1256,1,113,64,35,0.0,33.6,0.543,21,Mumbai
1355,3,90,78,0,0.0,42.7,0.559,21,Mumbai
1291,0,78,88,29,40.0,36.9,0.434,21,Mumbai

In [83]:
df['Age']+=5
print(df)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
Pid
1001            6      148             72             35    250.0  33.6
1002            1       85             66             29    300.0  26.6
1003            8      183             64              0      NaN  23.3
1004            1       89             66             23     94.0  28.1
1005            0      137             40             35    168.0  43.1
...           ...      ...            ...            ...      ...   ...
1764           10      101             76             48    180.0  32.9
1765            2      122             70             27      0.0  36.8
1766            5      121             72             23    112.0  26.2
1767            1      126             60              0      0.0  30.1
1768            1       93             70             31      0.0  30.4

      DiabetesPedigreeFunction  Age    City
Pid
1001                     0.627   55  Mumbai
1002                     0.351   36  Mumbai
1003                     0.672   37  Mumbai
1004                     0.167   40  Mumbai
1005                     2.288   38  Mumbai
...                        ...  ...     ...
1764                     0.171   68  Mumbai
1765                     0.340   32  Mumbai
1766                     0.245   35  Mumbai
1767                     0.349   52  Mumbai
1768                     0.315   28  Mumbai

[768 rows x 9 columns]

In [ ]:
# Other important functions with ML part 
# Second part with ML Machine Learning 
# Merge , Group by

In [86]:
# More important functions in Pandas 
df.info()

# Insulin   -->     2 null values 

# What kind of data types 
# Non numerical for Pandas --> is Object for Pandas (does not undxerstand strings)

<class 'pandas.core.frame.DataFrame'>
Index: 768 entries, 1001 to 1768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   766 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   City                      768 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 76.2+ KB

In [ ]:
# Null values isnull function 
# How to deal

In [89]:
# for stats 
print(df.describe())   #Includes numerical values only 

print("-------------")
df.describe(include='object')  # include data object

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  766.000000
mean      3.845052  120.894531      69.105469      20.536458   81.248042
std       3.369578   31.972618      19.355807      15.952218  116.221576
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   36.500000
75%       6.000000  140.250000      80.000000      32.000000  130.000000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age
count  768.000000                768.000000  768.000000
mean    31.992578                  0.471876   38.259115
std      7.884160                  0.331329   11.752080
min      0.000000                  0.078000   26.000000
25%     27.300000                  0.243750   29.000000
50%     32.000000                  0.372500   34.000000
75%     36.600000                  0.626250   46.000000
max     67.100000                  2.420000   86.000000
-------------

          City
count      768
unique       1
top     Mumbai
freq       768

In [90]:
df.head() # Top 5 rows
#df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,City
Pid,,,,,,,,,
1001,6,148,72,35,250.0,33.6,0.627,55,Mumbai
1002,1,85,66,29,300.0,26.6,0.351,36,Mumbai
1003,8,183,64,0,NaN,23.3,0.672,37,Mumbai
1004,1,89,66,23,94.0,28.1,0.167,40,Mumbai
1005,0,137,40,35,168.0,43.1,2.288,38,Mumbai

In [91]:
df.tail()  #Bottom 5 rows 
#df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,City
Pid,,,,,,,,,
1764,10,101,76,48,180.0,32.9,0.171,68,Mumbai
1765,2,122,70,27,0.0,36.8,0.340,32,Mumbai
1766,5,121,72,23,112.0,26.2,0.245,35,Mumbai
1767,1,126,60,0,0.0,30.1,0.349,52,Mumbai
1768,1,93,70,31,0.0,30.4,0.315,28,Mumbai