In [ ]:
#Sequences in Python/Collection Datatypes/Build-in Data structure
#Strings,List,Tuple,Set,Dict

#Ordered/Unordered(Index)
#Mutable/Immutable(Change element)
#Allows Duplicates

#All the Sequences allow any types of values

In [ ]:
#1.String:Ordered(Index),Immutable,Allows Duplicates
#2.List[]:Ordered(index),Mutable,Allows duplicates
#3.Tuple():Ordered(index),Immutable,allows duplicates
#4.Set{}:Unordered(No Indexing),Mutable,DO NOT allow duplicates
#5.Dict{key:vlaue}:Unordered(No indexing),Keys-Immutable,Values-Mutable,keys-can not be duplicates,vlaues can be du[licates

In [4]:
#Python Strings:Ordered(Index),Immutable,Allows Duplicates
name="Amit Sharma"
#type(name)
print(name[2])

a

In [7]:
name[2]='T'  #Strings are immutable

TypeError: 'str' object does not support item assignment

In [11]:
#Length of strings
print(len(name))

print(name.upper())
print(name.lower())

11
AMIT SHARMA
amit sharma

In [12]:
str='The "Sun" rises in east'
print(str)

The "Sun" rises in east

In [15]:
str='This is a sample string,\n this is another string'
print(str)

This is a sample string,
 this is another string

In [21]:
#String Interpolations(embedding)
name='Rohan'
marks=75
#Hi,Amit you got 80 marks

#f-strings,format,modulo %s%f

print(f'Hi, {name} you got {marks} marks.')

Hi, Rohan you got 75 marks.

In [20]:
#Format
print("Hi,{} you got {} marks".format(name,marks))
print("Hi,{} you got {} marks".format(marks,name))
print("Hi,{1} you got {0} marks".format(marks,name))

Hi,Rohan you got 75 marks
Hi,75 you got Rohan marks
Hi,Rohan you got 75 marks

In [22]:
print("Hi,{} you got {} marks".format(name,85))

Hi,Rohan you got 85 marks

In [23]:
"Hi,{} you got {} marks".format(name,marks)

'Hi,Rohan you got 75 marks'

In [24]:
#Python List[]:Ordered(index),Mutable,Allows duplicates

lst=[45,69,87,53,24,56,98,78,87,98]
type(lst)

list

In [31]:
emp=[1001,'Amit Sharma',35000,4.6,['proj1','proj2']]
#type(emp)
print(emp[0])
print(emp[4])
print(emp[4][1])  #Forwarded indexing
print(emp[10])

1001
['proj1', 'proj2']
proj2

IndexError: list index out of range

In [32]:
#Sequential Access
for item in emp:
    print(item)

1001
Amit Sharma
35000
4.6
['proj1', 'proj2']

In [34]:
#Mutable
print(emp)
emp[2]=45000
print(emp)

[1001, 'Amit Sharma', 35000, 4.6, ['proj1', 'proj2']]
[1001, 'Amit Sharma', 45000, 4.6, ['proj1', 'proj2']]

In [39]:
#Slicing,Insert/delete items
lst=[45,63,98,56,23,78,45,23,69,63]
#[start:stop:step]
print(lst[3:6])
print(lst[0:4])
print(lst[0::2])
print(lst[::-1]) #Reverse entire list

[56, 23, 78]
[45, 63, 98, 56]
[45, 98, 23, 45, 69]
[63, 69, 23, 45, 78, 23, 56, 98, 63, 45]

In [44]:
#Insertion and Deletion
#Adding items: append(),insert(),extend()
lst=[45,63,98,56,23,78,45,23,69,63]
lst.append(100)  #one item at a time at the end of the list
print(lst)

lst.extend([200,300,400]) #Many values add at the end
print(lst)

lst.insert(0,1000)  #insert(index,item),one value at a time
print(lst)

lst.insert(4,'abc')
print(lst)

[45, 63, 98, 56, 23, 78, 45, 23, 69, 63, 100]
[45, 63, 98, 56, 23, 78, 45, 23, 69, 63, 100, 200, 300, 400]
[1000, 45, 63, 98, 56, 23, 78, 45, 23, 69, 63, 100, 200, 300, 400]
[1000, 45, 63, 98, 'abc', 56, 23, 78, 45, 23, 69, 63, 100, 200, 300, 400]

In [47]:
#Deletion: pop(),remove()
print(lst)

lst.pop()  #Default last item will popped off
print(lst)

lst.pop(4)
print(lst)

[1000, 45, 63, 98, 'abc', 56, 23, 78, 45, 23, 69, 63, 100, 200, 300]
[1000, 45, 63, 98, 'abc', 56, 23, 78, 45, 23, 69, 63, 100, 200]
[1000, 45, 63, 98, 56, 23, 78, 45, 23, 69, 63, 100, 200]

In [50]:
print(lst)
lst.remove(100)
print(lst)

[1000, 45, 63, 98, 56, 23, 78, 45, 23, 69, 63, 200]

ValueError: list.remove(x): x not in list

In [51]:
lst.remove(63)   #Only first Occurance will be removed
print(lst)

[1000, 45, 98, 56, 23, 78, 45, 23, 69, 63, 200]

In [52]:
for item in lst:
    if item==45:
        lst.remove(45)

print(lst)

[1000, 98, 56, 23, 78, 23, 69, 63, 200]

In [53]:
#index()
print(lst.index(23))

3

In [59]:
#count()
lst=[45,56,36,98,85,85,78,78,52,32,62,42,85,85]
print(lst.count(85))  #Freuqency of an item

4

In [60]:
#Sort()--->all numerical values in list
print(lst)
lst.sort() #by default Ascending
print(lst)#Change the position in orignal list
print(lst[::-1])

[45, 56, 36, 98, 85, 85, 78, 78, 52, 32, 62, 42, 85, 85]
[32, 36, 42, 45, 52, 56, 62, 78, 78, 85, 85, 85, 85, 98]
[98, 85, 85, 85, 85, 78, 78, 62, 56, 52, 45, 42, 36, 32]

In [62]:
lst=[45,56,36,98,85,85,78,78,52,32,62,42,85,85]
print(sorted(lst)) #Showing items sorted
print(lst)

[32, 36, 42, 45, 52, 56, 62, 78, 78, 85, 85, 85, 85, 98]
[45, 56, 36, 98, 85, 85, 78, 78, 52, 32, 62, 42, 85, 85]

In [64]:
#membership operators: in and not in
print(100 in lst)
print(78 in lst)

False
True

In [67]:
#3.Tuple():Ordered(index),Immutable,allows duplicates
tup=('Male','Female','others')
#type(tup)
print(tup[0])

tup[0]='abc'

Male

TypeError: 'tuple' object does not support item assignment

In [ ]:
#DIY
#1.Can we create Mutable Tuple and Immutable Lists ???

In [ ]:
#Python Set{}:Unordered(No Indexing),Mutable,DO NOT allow duplicates

In [70]:
st={10,10,10,20,20,30,50,60,90,70,450}
type(st)
print(st)
print(st[0])  #Unordered

{450, 70, 10, 50, 20, 90, 60, 30}

TypeError: 'set' object is not subscriptable

In [74]:
#Set operations
set_a={0,8,6,3,2,1,4,6,4,8,0,1}
set_b={4,23,58,51,3,23,8,1}

print("Union of Sets:",set_a.union(set_b))
print("Intersection of sets:",set_a.intersection(set_b))

#Set Diffrence Operation
print("Elements in set_a but not in set_b",set_a-set_b)
print("Elements in set_b but not in set_a",set_b-set_a)

Union of Sets: {0, 1, 2, 3, 4, 6, 8, 51, 23, 58}
Intersection of sets: {8, 1, 3, 4}
Elements in set_a but not in set_b {0, 2, 6}
Elements in set_b but not in set_a {58, 51, 23}

In [75]:
for i in set_a:
    print(i)

0
1
2
3
4
6
8

In [ ]:
#Python Dict{key:vlaue}:Unordered(No indexing),Keys-Immutable,Values-Mutable,keys-can not be duplicates,vlaues can be du[licates

In [76]:
#{key:value}
emp_dict={'id':1001,'name':'Amit Sharma','salary':25000,'Ratings':4.5,'projects':['P1','P2','P3']}
type(emp_dict)

dict

In [77]:
print(emp_dict)

{'id': 1001, 'name': 'Amit Sharma', 'salary': 25000, 'Ratings': 4.5, 'projects': ['P1', 'P2', 'P3']}

In [78]:
print(emp_dict['name'])

Amit Sharma

In [79]:
print(emp_dict['salary'])

25000

In [81]:
#Insertion and deletion Dict
emp_dict['salary']=45000
print(emp_dict)

#New key value pair
emp_dict['city']='Mumbai'
print(emp_dict)

{'id': 1001, 'name': 'Amit Sharma', 'salary': 45000, 'Ratings': 4.5, 'projects': ['P1', 'P2', 'P3']}
{'id': 1001, 'name': 'Amit Sharma', 'salary': 45000, 'Ratings': 4.5, 'projects': ['P1', 'P2', 'P3'], 'city': 'Mumbai'}

In [83]:
#Delete key pair
emp_dict.pop('Ratings')   #Keys are case sensetive in dict
print(emp_dict)

{'id': 1001, 'name': 'Amit Sharma', 'salary': 45000, 'projects': ['P1', 'P2', 'P3'], 'city': 'Mumbai'}

In [ ]:
#DIY: fromkeys()---->try explore