In [11]:
# Dirty data set
# Cleaning data set

In [2]:
#Importing Libs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Reading data
data=pd.read_csv('dirtydata.csv')
data.head()

   Duration          Date  Pulse  Maxpulse  Calories Gender
0        60  '2020/12/01'    110       130     409.1      M
1        60  '2020/12/02'    117       145     479.0      F
2        60  '2020/12/03'    103       135     340.0      F
3        45  '2020/12/04'    109       175     282.4      F
4        45  '2020/12/05'    117       148     406.0    NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  34 non-null     float64
 5   Gender    31 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

In [8]:
data.shape

(36, 6)

In [9]:
# Detect the Null values 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  34 non-null     float64
 5   Gender    31 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

In [10]:
data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [13]:
# option1: Remove Null values
data.shape

(36, 6)

In [14]:
data.dropna(inplace=True)
data.shape

(29, 6)

In [15]:
# Option2: Replacing Null values
# Numerical: Mean, Median
# Categorical: Mode   (most popular cathegory)

In [19]:
#Re-Reading data
df=pd.read_csv('dirtydata.csv')
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  36 non-null     int64
 1   Date      35 non-null     object
 2   Pulse     36 non-null     int64
 3   Maxpulse  36 non-null     int64
 4   Calories  34 non-null     float64
 5   Gender    31 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.8+ KB

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
Gender      5
dtype: int64

In [20]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   34.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   63.683819
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  291.200000
75%     60.000000  104.250000  132.000000  338.625000
max    450.000000  130.000000  175.000000  479.000000

In [21]:
df['Calories']=df['Calories'].fillna(df['Calories'].mean())
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
Gender      5
dtype: int64

In [22]:
# Central Tendancy 
# Mean value is the same and the std is the same as previous 
# Not disturbing the data stat
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   36.000000   36.000000   36.000000   36.000000
mean    67.500000  102.777778  127.694444  301.129412
std     65.970773    7.544577   12.358501   61.837518
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.000000  300.000000
75%     60.000000  104.250000  132.000000  335.875000
max    450.000000  130.000000  175.000000  479.000000

In [23]:
# Categorical: Mode  Replace with the (most popular cathegory)
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])  # We may have many mode with the same frequency, keep the first one [0]
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
Gender      0
dtype: int64

In [24]:
df['Gender'].describe(include='object')

count     36
unique     2
top        F
freq      22
Name: Gender, dtype: object